<div class="row">
    <div class="col-md-12 text-center mt-5">
        <p>Ingrese con us cuenta favorita</p>
        <div class="col">
            <button class="btn btn-outline-primary boton" (click)="ingresar('google')">
                <i class="fab fa-google"></i>
                Google
            </button>
            <br><br>
            <button class="btn btn-outline-info boton" (click)="ingresar('twitter')">
                <i class="fab fa-twitter"></i>
                Twitter
            </button>
        </div>        
    </div>
</div>
